<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/output.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
    <title>Footer Component</title>
</head>

<body>
    <footer class="bg-stone-900 text-white z-20">
        <div class="max-w-4xl mx-auto px-4 py-6">
            <div class="grid grid-cols-3 w-full flex justify-items-center items-center">
                <div class="flex flex-col space-y-2 text-center mr-40">
                    <span>Christian P. F. Lorenzen</span>
                    <span>+45 29 28 27 54</span>
                    <span>christianplorenzen@outlook.com</span>
                </div>

                <div>
                    <img src="../assets/images/logo.png" alt="Footer Logo"
                        class="h-12 sd:h-12 md:h-24 lg:h-32 rounded-lg" />
                </div>

                <div class="flex items-center space-x-4 ml-40">
                    <a href="https://www.linkedin.com/in/christian-pedro-fernandez-lorenzen-296151238/"
                        title="LinkedIn Profile" class="hover:text-gray-400 text-xl" target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="https://github.com/pedroLorenzen" title="GitHub Profile" class="hover:text-gray-400"
                        target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-github"></i>
                    </a>
                </div>

            </div>
        </div>
    </footer>
</body>

</html>