<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/output.css">
    <title>Menu Component</title>
</head>
<body>
    <div class="grid grid-cols-2 gap-10 mt-10 mb-10 w-full">
        <div class="group p-10 shadow-xl bg-stone-200 rounded-lg text-center relative">
            <a href="/cleancode" class="menuHeadlines">
                <p class="cursor-pointer">Clean Code</p>
            </a>

            <div class="hidden group-hover:grid grid-cols-2 gap-4 mt-8">
                <div class="menuSubCategories">
                    <a href="/cleancode/#debugging">Debugging</a>
                </div>
                <div class="menuSubCategories">
                    <a href="/cleancode/#prettier">Prettier</a>
                </div>
                <div class="menuSubCategories">
                    <a href="/cleancode/#promises">Promises</a>
                </div>
                <div class="menuSubCategories">
                    <a href="/cleancode/#arrow-functions">Arrow vs Standard Functions</a>
                </div>
                <div class="menuSubCategories">
                    <a href="/cleancode/#coding-standards">Coding Standards</a>
                </div>
                <div class="menuSubCategories">
                    <a href="/cleancode/#imports">Imports</a>
                </div>
            </div>
        </div>
        <div class="group p-10 shadow-xl bg-stone-200 rounded-lg text-center relative">
            <a href="/cleancode" class="menuHeadlines">
                <p class="cursor-pointer">Vercel</p>
            </a>
            <div class="hidden group-hover:grid grid-cols-2 gap-4 mt-8">
                <div class="menuSubCategories">
                    <a href="/cleancode/#debugging">Debugging</a>
                </div>
                <div class="menuSubCategories">
                    <a href="/cleancode/#prettier">Prettier</a>
                </div>
                <div class="menuSubCategories">
                    <a href="/cleancode/#promises">Promises</a>
                </div>
                <div class="menuSubCategories">
                    <a href="/cleancode/#arrow-functions">Arrow vs Standard Functions</a>
                </div>
                <div class="menuSubCategories">
                    <a href="/cleancode/#coding-standards">Coding Standards</a>
                </div>
                <div class="menuSubCategories">
                    <a href="/cleancode/#imports">Imports</a>
                </div>
            </div>
        </div>
        <div class="group p-10 shadow-xl bg-stone-200 rounded-lg text-center relative">
            <a href="/cleancode" class="menuHeadlines">
                <p class="cursor-pointer">Node Framework</p>
            </a>
            <div class="hidden group-hover:grid grid-cols-2 gap-4 mt-8">
                <div class="menuSubCategories">
                    <a href="/cleancode/#debugging">Debugging</a>
                </div>
                <div class="menuSubCategories">
                    <a href="/cleancode/#prettier">Prettier</a>
                </div>
                <div class="menuSubCategories">
                    <a href="/cleancode/#promises">Promises</a>
                </div>
                <div class="menuSubCategories">
                    <a href="/cleancode/#arrow-functions">Arrow vs Standard Functions</a>
                </div>
                <div class="menuSubCategories">
                    <a href="/cleancode/#coding-standards">Coding Standards</a>
                </div>
                <div class="menuSubCategories">
                    <a href="/cleancode/#imports">Imports</a>
                </div>
            </div>
        </div>
        <div class="group p-10 shadow-xl bg-stone-200 rounded-lg text-center relative">
            <a href="/cleancode" class="menuHeadlines">
                <p class="cursor-pointer">Rendering</p>
            </a>
            <div class="hidden group-hover:grid grid-cols-2 gap-4 mt-8">
                <div class="p-3 border bg-stone-400 hover:bg-stone-700 hover:text-white rounded-lg hover:cursor-pointer">
                    <a href="/cleancode/#debugging">Debugging</a>
                </div>
                <div class="menuSubCategories">
                    <a href="/cleancode/#prettier">Prettier</a>
                </div>
                <div class="menuSubCategories">
                    <a href="/cleancode/#promises">Promises</a>
                </div>
                <div class="menuSubCategories">
                    <a href="/cleancode/#arrow-functions">Arrow vs Standard Functions</a>
                </div>
                <div class="menuSubCategories">
                    <a href="/cleancode/#coding-standards">Coding Standards</a>
                </div>
                <div class="menuSubCategories">
                    <a href="/cleancode/#imports">Imports</a>
                </div>
            </div>
        </div>
        <div class="group p-10 shadow-xl bg-stone-200 rounded-lg text-center relative">
            <a href="/cleancode" class="menuHeadlines">
                <p class="cursor-pointer">Projects</p>
            </a>
            <div class="hidden group-hover:grid grid-cols-2 gap-4 mt-8">
                <div class="p-3 border bg-stone-400 hover:bg-stone-700 hover:text-white rounded-lg hover:cursor-pointer">
                    <a href="/cleancode/#debugging">Debugging</a>
                </div>
                <div class="menuSubCategories">
                    <a href="/cleancode/#prettier">Prettier</a>
                </div>
                <div class="menuSubCategories">
                    <a href="/cleancode/#promises">Promises</a>
                </div>
                <div class="menuSubCategories">
                    <a href="/cleancode/#arrow-functions">Arrow vs Standard Functions</a>
                </div>
                <div class="menuSubCategories">
                    <a href="/cleancode/#coding-standards">Coding Standards</a>
                </div>
                <div class="menuSubCategories">
                    <a href="/cleancode/#imports">Imports</a>
                </div>
            </div>
        </div>
        <div class="group p-10 shadow-xl bg-stone-200 rounded-lg text-center relative">
            <a href="/cleancode" class="menuHeadlines">
                <p class="cursor-pointer">Terminal Commands</p>
            </a>
            <div class="hidden group-hover:grid grid-cols-2 gap-4 mt-8">
                <div class="p-3 border bg-stone-400 hover:bg-stone-700 hover:text-white rounded-lg hover:cursor-pointer">
                    <a href="/cleancode/#debugging">Debugging</a>
                </div>
                <div class="menuSubCategories">
                    <a href="/cleancode/#prettier">Prettier</a>
                </div>
                <div class="menuSubCategories">
                    <a href="/cleancode/#promises">Promises</a>
                </div>
                <div class="menuSubCategories">
                    <a href="/cleancode/#arrow-functions">Arrow vs Standard Functions</a>
                </div>
                <div class="menuSubCategories">
                    <a href="/cleancode/#coding-standards">Coding Standards</a>
                </div>
                <div class="menuSubCategories">
                    <a href="/cleancode/#imports">Imports</a>
                </div>
            </div>
        </div>
    </div>    
</body>
</html>